@media (prefers-color-scheme: light) {
    $wechat-text-radius: 4px;
    $wechat-green: rgb(149, 236, 105);

    // qq standard theme color
    .q-theme-tokens-light {
        --brand_standard: rgb(26, 173, 25);
        --text-brand: black;
    }

    // 左边栏
    .sidebar,
    .sidebar-nav {
        background: rgb(46, 46, 46) !important;
        width: 55px !important;
        // 边栏按钮
        & .tab-item-mask,
        & .tab-item-img-mask {
            background-color: rgb(7, 193, 96) !important;
        }

        & .tab-item-img-normal,
        & .icon-item {
            filter: invert(0.5);
        }

        // 头像
        & .user-avatar-container {
            & .avatar {
                border-radius: unset !important;
            }

            // 头像轮廓图形
            & .user-avatar--clip {
                -webkit-clip-path: unset !important;
                clip-path: unset !important;
            }
        }
    }

    // 信息列表栏
    .recent-contact {
        background-color: #f7f7f7 !important;

        & .search .search-input {
            background: rgb(226, 226, 226) !important;
        }

        & .viewport-list__inner {
            background-color: rgb(229, 229, 229) !important;
        }

        & .avatar {
            border-radius: 3px !important;
            // 移除群助手和我的手机icon外圆形
            &.avatar-sys::before {
                border-radius: unset !important;
            }
        }

        & .list-item {
            height: 65px !important;
        }

        & .list-item__container {
            background: #00000000 !important;
        }

        // 选中颜色
        & .recent-contact-item.across-mode.recent-contact-item--selected .list-item__container.item-dragging-over {
            background: rgb(196, 196, 196) !important;
        }

        // 文字颜色（会员名，普通名，聊天时间，聊天summary）
        .across-mode.list-item,
        .across-mode.list-item--selected {
            & .list-item__content {
                & .list-item__title .main-info {
                    // 普通ID, 会员ID, 群名
                    & span,
                    & .text-ellipsis,
                    & .text-ellipsis.vip-name {
                        color: black !important;
                    }
                }

                & .secondary-info.text-ellipsis span {
                    color: #999999ff !important;
                }

                & .list-item__info .list-item__summary {
                    color: #999999ff !important;

                    & .q-icon {
                        color: #999999ff !important;
                    }
                }
            }
        }
    }

    // 聊天栏
    .aio {
        background: rgb(245, 245, 245) !important;
        // header
        & .panel-header.chat-header {
            background: rgb(245, 245, 245) !important;

            & .panel-header__title {
                font-size: min(var(--font_size_5), 20px) !important;
                // 去除vip颜色
                #chatHeaderContactName {
                    color: black !important;
                }
            }
        }

        // 聊天框
        & .chat-msg-area {
            // 聊天头像
            & .message-container__avatar {
                border-radius: 2px !important;
            }

            // 文字泡
            & .msg-content-container {
                &.container--self {
                    border-radius: $wechat-text-radius !important;
                    background-color: $wechat-green !important;
                    color: black !important;
                }

                &.container--others {
                    border-radius: $wechat-text-radius !important;
                }

                // 超链接
                & .text-element .text-link {
                    color: rgb(87, 107, 149) !important;
                }

                // 转发
                .forward-msg {
                    border-radius: $wechat-text-radius !important;
                }

                // 回复
                .reply-element--self,
                .reply-element--others {
                    color: black !important;
                }

                // 图片
                .image-content {
                    border-radius: $wechat-text-radius !important;
                }

            }

            // 文件
            & .message-content__wrapper,
            & .message-container--self.normal-file {
                background-color: white !important;
                border-radius: $wechat-text-radius !important;
                color: black !important;
            }

            & .msg-preview {
                border-radius: $wechat-text-radius !important;
            }

            // 群聊用户名
            & .user-name .text-ellipsis {
                color: #999999ff !important;
            }

            // 群聊时间 撤回通知
            & .message__timestamp,
            & .gray-tip-content {
                width: fit-content;
                margin-left: auto !important;
                margin-right: auto !important;
                color: white !important;

                background: rgb(218, 218, 218) !important;
                padding: 3px 5px 2px 5px;
                border-radius: 2px !important;
            }

            // 新老消息提示
            & .q-notification {
                border-radius: 100px !important;
                box-shadow: 0 2px 4px #0000000f;

                &.theme-default .content {
                    color: rgb(9, 187, 7) !important;
                    font-size: 14px;
                }
            }
        }

        // 编辑栏
        & .chat-input-area {
            & .operation {
                & .send-btn-wrap {
                    background-color: rgb(233, 233, 233) !important;
                }

                & .send--disabled {
                    opacity: 1;
                }

                & .send {
                    font-size: 1.25em !important;
                    color: rgb(7, 193, 96) !important;
                }

                & .close {
                    display: none !important;
                }
            }

            // 表情popup
            .sticker-panel {
                border-radius: 0 !important;
                background: rgb(247, 247, 247) !important;
            }
        }


        // 右栏 群成员和群公告
        & .group-box {
            & .group-notice .content {
                color: black !important;
            }

            & .group-user__name.text-ellipsis {
                color: black !important;
            }

            & .group-user .avatar {
                border-radius: unset !important;
            }
        }

        // 右栏 信息设定
        & .side-panel .more-panel {
            & .input-field .input-container,
            & .q-list,
            & .q-pulldown-menu,
            & .q-pulldown-menu-button,
            & .q-button {
                border-radius: 2px !important;
            }
        }
    }

    // 其他
    .q-popover {
        background-color: white !important;
        border-radius: 3px !important;
        box-shadow: 0 0 6px 3px #0000000f;

        & .buddy-profile {
            background-image: unset !important;

            & .avatar {
                border-radius: 5px !important;
            }

            & .circle-button {
                border-radius: 5px !important;
            }
        }
    }

    // 联系人栏目
    .contact {
        background-color: rgb(247, 247, 247) !important;

        & .avatar {
            border-radius: 2px !important;

            &.avatar-sys::before {
                border-radius: unset !important;
            }
        }

        & .avatar--offline::after {
            border-radius: unset !important;
        }

        & .tab-header,
        & .q-collapse-item__header {
            background-color: rgb(247, 247, 247) !important;
        }

        // 选中颜色
        & .viewport-list__inner .across-mode.list-item--selected {
            background: rgb(196, 196, 196) !important;

            .list-item__content .list-item__title span {
                color: black !important;
            }
        }
    }
}