@media (prefers-color-scheme: light) {
    /* 主题参数 */
    .q-theme-tokens-light {
        --global-brand_standard: rgb(200, 200, 200);
        --bg_list: rgb(247, 247, 247);
        --on_bg_text: black;
        --font_size_4: 16px;
        --font_size_5: 18px;
        --line_height_5: 24px;
        --overlay-top: #00000000;
    }

    /* 左边栏 头像 */
    .user-avatar-container .user-avatar--clip {
        clip-path: unset !important;
    }

    .user-avatar-container .avatar {
        border-radius: 0;
    }

    /* 左边栏 上部 */
    .sidebar {
        background-color: rgb(46, 46, 46) !important;
    }

    .tab-item-mask, .tab-item-img-mask {
        background-color: rgb(7, 193, 96) !important;
    }

    .tab-item-img-normal {
        filter: invert(0.5);
    }

    /* 左边栏 下部 */
    .sidebar .icon-item {
        filter: invert(0.5);
    }

    /* 信息列表 */
    .search .search-input {
        background: rgb(226, 226, 226) !important;
    }

    .recent-contact {
        background-color: #f7f7f7 !important;
    }

    .recent-contact .viewport-list__inner {
        background-color: rgb(229, 229, 229) !important;
    }

    .recent-contact .avatar {
        border-radius: 3px !important;
    }

    .list-item {
        height: 65px !important;
    }

    .list-item__container {
        background: #00000000 !important;
    }

    #app .recent-contact-item.across-mode.recent-contact-item--selected .list-item__container {
        background: rgb(200, 200, 200) !important;
    }

    .across-mode.list-item--selected .list-item__content .list-item__info .list-item__summary {
        color: #999999ff !important;
    }

    .list-item .list-item__container .list-item__content .list-item__info .list-item__summary {
        color: #999999ff !important;
    }

    .list-item .list-item__container .list-item__content .list-item__info .list-item__title .secondary-info {
        color: #999999ff !important;
    }

    .across-mode.list-item--selected .list-item__content .list-item__title span {
        color: black !important;
    }

    /* 聊天窗 */
    #app .panel-header .panel-header__title {
        font-size: min(var(--font_size_5), 20px) !important;
    }

    .message-container__avatar {
        border-radius: 2px !important;
    }

    /* 文字泡 */
    .msg-content-container.container--self {
        background-color: rgb(149, 236, 105) !important;
        color: black !important;
        border-radius: 2px !important;
    }

    .msg-content-container.container--others {
        border-radius: 2px !important;
    }

    .text-element .text-link {
        color: rgb(87, 107, 149) !important;
    }

    /* 回复和转发 */
    .forward-msg {
        border-radius: 2px !important;
    }

    .reply-element--self,
    .reply-element--others {
        color: black !important;
    }

    /* 图片和文件泡 */
    .image-content {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
        border-radius: 2px !important;
    }

    .message-container--self.normal-file {
        background-color: rgb(149, 236, 105) !important;
        border-radius: 2px !important;
        color: black !important;
    }

    /* 文字泡选中 */
    .message-container.message-container--active {
        background-color: rgb(0 0 0 / 10%) !important;
    }

    /* 编辑栏 */
    #app .ck-content {
        font-size: var(--font_size_4) !important;
        line-height: var(--line_height_5) !important;
    }

    /* 发送按钮 */
    .operation .send-btn-wrap {
        background-color: rgb(233, 233, 233) !important;
    }

    .operation .send--disabled {
        opacity: 1;
    }

    .operation .send {
        font-size: 1.25em !important;
        color: rgb(7, 193, 96) !important;
    }

    /* popup */
    .sticker-panel {
        border-radius: 0 !important;
        background: rgb(247, 247, 247) !important;
    }

    /* 右栏 群公告 群成员列表 */
    .group-member .viewport-list__inner {
        background-color: rgb(243, 243, 243) !important;
    }

    .group-notice .content {
        color: black !important;
    }

    .group-user__name .text-ellipsis {
        color: black !important;
    }

    .group-user .avatar {
        border-radius: 0 !important;
    }
}